\fancyhf{}
\chead{}
\cfoot{Таганрог~\the\year{}~г.}
\vspace*{-1.5cm}
\begin{center}
	{\large{АКЦИОНЕРНОЕ ОБЩЕСТВО\\\vspace{1ex} НАУЧНО-КОНСТРУКТОРСКОЕ БЮРО ВЫЧИСЛИТЕЛЬНЫХ СИСТЕМ}}
\end{center}
\vspace*{-5ex}
%\small{{confLevel}}
%\begin{flushright} Конфиденциально \\ Экз.~№ \line(1,0){5mm} \end{flushright}
\vspace*{-3ex}
\thispagestyle{fancy}
                                                                 
\begin{center}
\vspace*{\fill}
\large{
{\bfseries{ПРОТОКОЛ}}\linebreak
информационного взаимодействия \linebreak
составных частей изделия\linebreak
\svnumber\linebreak
<<{{mj.spec['print_name']}}>>\linebreak
по каналу Ethernet\linebreak
}
\linebreak 
(редакция~{{global_ver}}.{{mj.ver}}.{{mj.idl_ver}}.{{mj.spec['ver']}}.{{mj.spec['mver']}})
\vspace*{\fill}                                                                                                               
\end{center}